.bundle
.DS_Store
coverage/*
db/*.db
db/sphinx
db/*.sqlite3
db/*structure.sql
config/*.sphinx.conf
config/deploy.rb
config/database.yml
log/*.log
tmp/**/*
public/cache/**/*
doc/api
doc/app
.emacs.desktop*
.sass-cache
.sass-cache/**/*
TAGS
