/* @group layout */

#container {
  @include container; 
  width: 100%;
}

#header, #footer, #content {
  @include full;
}

#content-main {
  @include full(12);
  @include pad(2,2);
}

#sidebar {
  @include columns(4,12);
  @include alpha(12);
}

#details {
  @include columns(8,12);
  @include omega(12);
}

/* @end */

.field label, .field input {
  display: block;
}

.actions {
  margin-top: 2em;
}

#new_user, #new_user_session, .edit_user {
  max-width: 240px;
}
